*{
    margin: 0;
    padding: 0;
}

body{
  color:red;
    background-color: purple;
    }
    header{
        text-align: center;
        background-color: yellow;
        font-size: x-large;
    } 
    .yellow{
        background-color: yellow;
    }
    #content{
        width: 350px;
    }    